:root{
--alabaster-grey: #e5e5e5ff;
--muted-teal: #84a98cff;
--deep-teal: #52796fff;
--dark-slate-grey: #354f52ff;
--charcoal-blue: #2f3e46ff;
--jet-black: #20282cff;
--onyx: #111111ff;
}


/* abbr */

